<form class="form update-form" method="POST" action="">
    {% csrf_token %}
    <div class="form-group">
        <div class="input-group">
            <div class="input-group-prepend">
                <button
                    class="decrement-qty btn btn-sm btn-black rounded-0 decrement-qty_{{ item.item_id }}_{{ item.size.id }}"
                    data-item_id="{{ item.item_id }}" data-size="{{ item.size.id }}"
                    id="decrement-qty_{{ item.item_id }}_{{ item.size.id }}">
                    <span><i class="fas fa-minus fa-sm"></i></span>
                </button>
            </div>
            <input class="form-control form-control-sm qty_input" type="number" name="quantity"
                value="{{ item.quantity }}" min="1" max="99" data-item_id="{{ item.item_id }}"
                data-size="{{ item.size.id }}" id="id_qty_{{ item.item_id }}_{{ item.size.id }}">
            <div class="input-group-append">
                <button
                    class="increment-qty btn btn-sm btn-black rounded-0 increment-qty_{{ item.item_id }}_{{ item.size.id }}"
                    data-item_id="{{ item.item_id }}" data-size="{{ item.size.id }}"
                    id="increment-qty_{{ item.item_id }}_{{ item.size.id }}">
                    <span><i class="fas fa-plus fa-sm"></i></span>
                </button>
            </div>
            <input type="hidden" name="product_size" value="{{ item.size.id }}">
        </div>
    </div>
</form>
<a class="update-link text-info" id="update_{{ item.item_id }}_{{ item.size.id }}" data-item_id="{{ item.item_id }}"
    data-size="{{ item.size.id }}"><small>Update</small></a>
<a class="remove-item text-danger float-right" id="remove_{{ item.item_id }}_{{ item.size.id }}"
    data-item_id="{{ item.item_id }}" data-size="{{ item.size.id }}"><small>Remove</small></a>